.posts {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.post-title {
    text-transform: capitalize;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    cursor: pointer;
}
.post-title:hover {
    color: #878889;
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.pagination__paragraph {
    font-size: 0.95rem;
}
